body {
  background-color: #9fd3c7;
  border: 1px solid #17191b;
  border-radius: 5px;
  max-width: 900px;
  margin: 30px auto;
}
h2 {
  font-size: 24px;
  font-family: "poppins";
  opacity: 0.7;
  color: #142d4c;
}
h3 {
  font-size: 32px;
}
h4 {
  display: block;
  margin-left: 550px;
  font-size: larger;
  font-family: poppin;
  opacity: 0.7;
  color: #142d4c;
}
small {
  font-size: 20px;
  font-weight: 400;
  opacity: 0.7;
  position: relative;
  vertical-align: top;
}
strong {
  text-transform: capitalize;
}
.sun-cloud {
  color: #4e3983;
}
.sun-rain {
  color: #4e3983;
}
.sun {
  color: #4e3983;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
